*.md linguist-language=Markdown
*.md linguist-detectable=true

*.json linguist-language=JSON
*.json linguist-detectable=true

*.yml linguist-language=YAML
*.yml linguist-detectable=true

.github/** linguist-detectable=true